In [3]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web

In [7]:
#style.use('ggplot')
#start = dt.datetime(2000, 1, 1)
#end = dt.datetime(2016, 12, 31)
#df = web.DataReader('TSLA', 'yahoo', start, end)
#df.to_csv('tsla.csv')

In [12]:
df = pd.read_csv('tsla.csv', parse_dates=True, index_col=0)
df.head()

             High        Low       Open      Close    Volume  Adj Close
Date
2010-06-29  25.00  17.540001  19.000000  23.889999  18766300  23.889999
2010-06-30  30.42  23.299999  25.790001  23.830000  17187100  23.830000
2010-07-01  25.92  20.270000  25.000000  21.959999   8218800  21.959999
2010-07-02  23.10  18.709999  23.000000  19.200001   5139800  19.200001
2010-07-06  20.00  15.830000  20.000000  16.110001   6866900  16.110001

In [15]:
df['100ma'] = df['Adj Close'].rolling(window=100).mean()
df

,High,Low,Open,Close,Volume,Adj Close,100ma
Date,,,,,,,
2010-06-29,25.000000,17.540001,19.000000,23.889999,18766300,23.889999,NaN
2010-06-30,30.420000,23.299999,25.790001,23.830000,17187100,23.830000,NaN
2010-07-01,25.920000,20.270000,25.000000,21.959999,8218800,21.959999,NaN
2010-07-02,23.100000,18.709999,23.000000,19.200001,5139800,19.200001,NaN
2010-07-06,20.000000,15.830000,20.000000,16.110001,6866900,16.110001,NaN
2010-07-07,16.629999,14.980000,16.400000,15.800000,6921700,15.800000,NaN
2010-07-08,17.520000,15.570000,16.139999,17.459999,7711400,17.459999,NaN
2010-07-09,17.900000,16.549999,17.580000,17.400000,4050600,17.400000,NaN
2010-07-12,18.070000,17.000000,17.950001,17.049999,2202500,17.049999,NaN
2010-07-13,18.639999,16.900000,17.389999,18.139999,2680100,18.139999,NaN
2010-07-14,20.150000,17.760000,17.940001,19.840000,4195200,19.840000,NaN
2010-07-15,21.500000,19.000000,19.940001,19.889999,3739800,19.889999,NaN
2010-07-16,21.299999,20.049999,20.700001,20.639999,2621300,20.639999,NaN
2010-07-19,22.250000,20.920000,21.370001,21.910000,2486500,21.910000,NaN
2010-07-20,21.850000,20.049999,21.850000,20.299999,1825300,20.299999,NaN
2010-07-21,20.900000,19.500000,20.660000,20.219999,1252500,20.219999,NaN
2010-07-22,21.250000,20.370001,20.500000,21.000000,957800,21.000000,NaN
2010-07-23,21.559999,21.059999,21.190001,21.290001,653600,21.290001,NaN
2010-07-26,21.500000,20.299999,21.500000,20.950001,922200,20.950001,NaN
2010-07-27,21.180000,20.260000,20.910000,20.549999,619700,20.549999,NaN
2010-07-28,20.900000,20.510000,20.549999,20.719999,467200,20.719999,NaN
2010-07-29,20.879999,20.000000,20.770000,20.350000,616000,20.350000,NaN
2010-07-30,20.440001,19.549999,20.200001,19.940001,426900,19.940001,NaN
2010-08-02,20.969999,20.330000,20.500000,20.920000,718100,20.920000,NaN
2010-08-03,21.950001,20.820000,21.000000,21.950001,1230500,21.950001,NaN
2010-08-04,22.180000,20.850000,21.950001,21.260000,913000,21.260000,NaN
2010-08-05,21.549999,20.049999,21.540001,20.450001,796200,20.450001,NaN
2010-08-06,20.160000,19.520000,20.100000,19.590000,741900,19.590000,NaN
2010-08-09,19.980000,19.450001,19.900000,19.600000,812700,19.600000,NaN
2010-08-10,19.650000,18.820000,19.650000,19.030001,1281300,19.030001,NaN
...,...,...,...,...,...,...,...
2016-11-17,189.490005,182.110001,183.490005,188.660004,4887100,188.660004,209.653900
2016-11-18,193.000000,185.000000,190.649994,185.020004,5210300,185.020004,209.402200
2016-11-21,188.889999,184.410004,185.039993,184.520004,4361000,184.520004,209.124600
2016-11-22,191.470001,183.710007,185.839996,191.169998,5603400,191.169998,208.871300
2016-11-23,195.639999,189.000000,190.610001,193.139999,4885300,193.139999,208.662900
2016-11-25,197.240005,193.639999,193.639999,196.649994,2366100,196.649994,208.485000
2016-11-28,199.350006,194.550003,195.479996,196.119995,4529200,196.119995,208.286799
2016-11-29,196.729996,189.500000,195.559998,189.570007,4439300,189.570007,208.014700
2016-11-30,191.889999,187.500000,191.000000,189.399994,3547100,189.399994,207.660900
2016-12-01,188.529999,181.000000,188.250000,181.880005,5126400,181.880005,207.233200
2016-12-02,184.880005,180.000000,182.880005,181.470001,4042300,181.470001,206.822600
2016-12-05,188.889999,182.509995,182.509995,186.800003,4072200,186.800003,206.475300
2016-12-06,186.580002,182.679993,185.520004,185.850006,3391600,185.850006,206.129800
2016-12-07,193.399994,185.000000,186.149994,193.149994,5461900,193.149994,205.798800
2016-12-08,192.500000,189.539993,192.050003,192.289993,3194100,192.289993,205.469100
2016-12-09,193.839996,190.809998,190.869995,192.179993,2722500,192.179993,205.107300
2016-12-12,194.419998,191.179993,192.800003,192.429993,2438900,192.429993,204.826600
2016-12-13,201.279999,193.000000,193.179993,198.149994,6823900,198.149994,204.585399
2016-12-14,203.000000,196.759995,198.740005,198.690002,4150900,198.690002,204.272200
2016-12-15,200.740005,197.389999,198.410004,197.580002,3219600,197.580002,203.952900
2016-12-16,202.589996,197.600006,198.080002,202.490005,3779800,202.490005,203.692900
2016-12-19,204.449997,199.839996,202.490005,202.729996,3488100,202.729996,203.414100
2016-12-20,209.000000,202.500000,203.050003,208.789993,4689100,208.789993,203.154100
2016-12-21,212.229996,207.410004,208.449997,207.699997,5207600,207.699997,202.931000
2016-12-22,209.990005,206.500000,208.220001,208.449997,3111100,208.449997,202.743500
2016-12-23,213.449997,207.710007,208.000000,213.339996,4662900,213.339996,202.619000
2016-12-27,222.250000,214.419998,214.880005,219.529999,5915700,219.529999,202.508200
2016-12-28,223.800003,217.199997,221.529999,219.740005,3782500,219.740005,202.405300
2016-12-29,219.199997,214.119995,218.559998,214.679993,4035900,214.679993,202.290500
2016-12-30,217.500000,211.679993,216.300003,213.690002,4642600,213.690002,202.136600